@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
	--color-contenido:#777;
	--color-Coraloscuro:#f75160;
	--color-Coral:#ff5f6d;
	--color-pggris:#faf9ff;
	--color-shodow:rgba(0,0,0,0.10);
	--color-titulos:#3e3e3e;
	--Bg-gris2:#f5f7fa;
	--color-azul:#4c5462;
	--color-texto-gris:#666666 ;
	--color-naranja:#ffb070;
}

body{
	
	font-family: "Open Sans", sans-serif;
	font-size:16px;
	color:var(--color-contenido);
	
	
}

header{
	position: absolute;
	width:100% ;
	padding-top: 20px;
}
h1,h2,h3,h4,h5,h6,h7,h8{
	color:var(--color-titulos);
	
}

.sticky{
	position:fixed;
	background: linear-gradient(135deg, rgba(255,95,109,1) 30%, rgba(255,176,112,1) 90%);
	padding-top: 0;
	z-index:1000;
}


#hero{
	background-image: url("../img/bg-hero.png");
	background-size: cover;
	background-position: center;
	color:#FFF
	
}

#hero h1{
	font-size:60px;
	font-weight:700;
	Margin-top: 15%;
	color:#FFFFFF;
}

#hero p{
	font-size:20px;
	font-weight:400;
	letter-spacing: 2px;
}

.nav-link.btn{
	border:1px solid#fff;
	padding: 8px 30px !important;
	
	
}


.nav-link.btn:hover{
	background-color:var(--color-Coraloscuro);
	border-color:var(--color-Coraloscuro);
	box-shadow:0px 0px 5px 5px rgba(170,170,170,0.10) ; 
}

.btn-moto{
	background-color: var(--color-Coral);
	color:#fff;
	text-transform: uppercase;
	font-size:16px;
	letter-spacing: 1px;
	font-weight: 500;
	padding:10px 60px;
	box-shadow: 0px,0px,30px,5px var(--color-shodow) ;
}

.btn-moto:hover{
	background-color: var(--color-Coraloscuro);
	color:#FFFFFF;
	
}

#hero .position-relative{
	margin-top: 10%;
	width:600px;
	
}

.bg-gris{
	background-color: var(--color-pggris);
	
}

.box-padding{
	padding:140px 80px;
	
}


.box-shadow:hover{
	
	box-shadow: 0px 0px 10px 5px var(--color-shodow) ;
	
}

#columnas h2{
	font-weight: 400;
	font-size:26px ;
	
}

.section{
	padding: 8% 0;
	
}

.titulo{
	font-size:40px;
	margin-bottom:30px;
	font-weight: 600;
	
}

.titulos-centrado{
/*	text-align: center;
	margin: 0 25% 10% 25%;*/
	text-align: center;
	width: 50%;
	margin: auto;
	margin-bottom:60px;
	color:var(--color-texto-gris);
}

#features{
	
	padding-left: 10%;
	padding-right: 10%;
}


.card-moto{
	text-align: center;
	border:0;
	background-color:transparent;
	color:var(--color-texto-gris);
	padding:40px 30px;
	transition:all 0.1s ease-in-out;
	
}

.icon-circle{
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 100%;
	background-color: var(--Bg-gris2);
	color:var(--color-azul);
	border:1px solid var(--color-Coral);
	margin:auto;
	margin-bottom:30px;
}

.card-moto h3 {
	font-size: 20px;
	font-weight: 400;
	transition:all 0.1s ease-in-out;
}

.card-moto:hover{
	background-color: var(--color-Coral);
	color:#fff;
	transition:all 0.1s ease-in-out;
}

.card-moto:hover h3{
	color:#FFFFFF;
	
	
}


.card-moto:hover h3 icon-cirle {
	background-color:transparent;
	color:#FFFFFF;
	box-shadow: 0px 0px 5px 5px var(--color-shodow) ;
}

work-tab{
	box-shadow: 0px 0px 5px 5px var(--color-shodow) ;
	margin-top: 50px;
	margin-bottom:20px;
}


#work-tab .nav-link{
	padding:30px 40px ;
	border-radius: 0;
	border:0;
	color:Var(--color-titulos);
	font-size: 20px;
}

#work-tab .active{
	background-color: var(--color-Coral);
	color:#FFFFFF;
}


#work{
	background-image: url("../img/bg-work.png");
	background-position: center;
	background-size: cover;
	
}

.card-team{
	background-color: var(--color-Coral);
	position:absolute;
	color:#fff;
	width:100%;
	text-align: center;
	padding:10px 0;
	margin-top: 35%;
	opacity:0;
	transition: all 0.3s ease-in-out;
}

.card-team h4{
	color:#FFFFFF;
	font-size: 20px;
	
	
}

.card-team p{
	dont-size:14px;
	
	
}

.box-shadow:hover .card-team{
	opacity:1;
	transition: all 0.2s ease-in-out;
	
}

.box-shadow:hover img{
	transform:scale(1.2);
	transition: all 0.2s ease-in-out;
}

#team .box-shadow{
	overflow: hidden;
	
	
}

footer{
	background-image: url("../img/bg-footer.png");
	background-size: cover;
	background-position: center;
	padding: 60px 0 ; 
	text-align: center;
	color:#FFFFFF;
	font-size: 14px;
	
}
















/*Media Queries*/



/*lg - computadora*/
@media (min-width: 1200px){
	
	
	
}

/*sm - Tableta*/
@media (min-width: 600px) and (max-width:1200px){
	#hero .position-relative{
	margin-top: 10%;
	width:100%;
		
	}
	#hero {
		
	padding-bottom: 5%;
		
	}
		
	.box-padding{
	padding:30px 20px;
	
	}
	
	#team .card{
		
		margin-bottom: 20px;
		
	}
	
	
}


/*Cellular*/
@media (max-width:600px){
	#hero .position-relative{
		
	display:none;
		
	}
	
	#hero{
		
		text-align: center;
		padding-bottom: 5%;
	}
	
	
}





























